[submodule "upstream-expected"]
	path = upstream-expected
	url = https://github.com/TartanLlama/expected
[submodule "upstream-optional"]
	path = upstream-optional
	url = https://github.com/TartanLlama/optional
[submodule "upstream-generator"]
	path = upstream-generator
	url = https://github.com/TartanLlama/generator
